/.idea/.idea.CW-10-S29916/.idea/.gitignore
/CW-10-S29916/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/CW-10-S29916/obj/Debug/net9.0/apphost
/CW-10-S29916/bin/Debug/net9.0/appsettings.Development.json
/CW-10-S29916/bin/Debug/net9.0/appsettings.json
/CW-10-S29916/bin/Debug/net9.0/Azure.Core.dll
/CW-10-S29916/bin/Debug/net9.0/Azure.Identity.dll
/CW-10-S29916/obj/Debug/net9.0/CW-10-S2.0ED3453E.Up2Date
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.AssemblyInfo.cs
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.AssemblyInfoInputs.cache
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.assets.cache
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.csproj.AssemblyReference.cache
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.csproj.CoreCompileInputs.cache
/CW-10-S29916/obj/CW-10-S29916.csproj.EntityFrameworkCore.targets
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.csproj.FileListAbsolute.txt
/CW-10-S29916/obj/CW-10-S29916.csproj.nuget.dgspec.json
/CW-10-S29916/obj/CW-10-S29916.csproj.nuget.g.props
/CW-10-S29916/obj/CW-10-S29916.csproj.nuget.g.targets
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916.deps.json
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916.dll
/CW-10-S29916/obj/Debug/net9.0/ref/CW-10-S29916.dll
/CW-10-S29916/obj/Debug/net9.0/refint/CW-10-S29916.dll
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.dll
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.GeneratedMSBuildEditorConfig.editorconfig
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.genruntimeconfig.cache
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.GlobalUsings.g.cs
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.MvcApplicationPartsAssemblyInfo.cache
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.MvcApplicationPartsAssemblyInfo.cs
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916.pdb
/CW-10-S29916/obj/Debug/net9.0/CW-10-S29916.pdb
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916.runtimeconfig.json
/CW-10-S29916/bin/Debug/net9.0/CW-10-S29916.staticwebassets.endpoints.json
/CW-10-S29916/bin/Debug/net9.0/Humanizer.dll
/.idea/.idea.CW-10-S29916/.idea/indexLayout.xml
/CW-10-S29916/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Build.Locator.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/CW-10-S29916/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/CW-10-S29916/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/CW-10-S29916/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/CW-10-S29916/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/CW-10-S29916/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Identity.Client.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.OpenApi.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/CW-10-S29916/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/CW-10-S29916/bin/Debug/net9.0/Mono.TextTemplating.dll
/CW-10-S29916/obj/Debug/net9.0/staticwebassets/msbuild.build.CW-10-S29916.props
/CW-10-S29916/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.CW-10-S29916.props
/CW-10-S29916/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.CW-10-S29916.props
/CW-10-S29916/obj/project.assets.json
/CW-10-S29916/obj/project.nuget.cache
/CW-10-S29916/obj/project.packagespec.json
/CW-10-S29916/obj/rider.project.model.nuget.info
/CW-10-S29916/obj/rider.project.restore.info
/CW-10-S29916/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/CW-10-S29916/obj/Debug/net9.0/staticwebassets.build.json
/CW-10-S29916/bin/Debug/net9.0/System.ClientModel.dll
/CW-10-S29916/bin/Debug/net9.0/System.CodeDom.dll
/CW-10-S29916/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/CW-10-S29916/bin/Debug/net9.0/System.Composition.Convention.dll
/CW-10-S29916/bin/Debug/net9.0/System.Composition.Hosting.dll
/CW-10-S29916/bin/Debug/net9.0/System.Composition.Runtime.dll
/CW-10-S29916/bin/Debug/net9.0/System.Composition.TypedParts.dll
/CW-10-S29916/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/CW-10-S29916/bin/Debug/net9.0/System.Drawing.Common.dll
/CW-10-S29916/bin/Debug/net9.0/System.Formats.Asn1.dll
/CW-10-S29916/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/CW-10-S29916/bin/Debug/net9.0/System.Memory.Data.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/CW-10-S29916/bin/Debug/net9.0/System.Runtime.Caching.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/CW-10-S29916/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/CW-10-S29916/bin/Debug/net9.0/System.Security.Permissions.dll
/CW-10-S29916/bin/Debug/net9.0/System.Text.Json.dll
/CW-10-S29916/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/CW-10-S29916/bin/Debug/net9.0/System.Windows.Extensions.dll
/.idea/.idea.CW-10-S29916/.idea/vcs.xml
